<section>
  <h1>Hi there!</h1>
  <p>My name is Joslyn. I'm a Seattle based Ruby on Rails developer with a <strong>strong</strong> affinity for the front-end and user experience.</p>
  <p>When I'm not on my computer, you can find me on my yoga mat or curled up under a pile of blankets (but usually the computer finds its way there as well).</p>
  <p>I recently graduated Code Fellows and now I'd like to use my passion for design and development to help <b>YOU</b>!</p>
  <div class="contact">
    <h3>Let's chat?</h3>
      <h5 class="email">joslyn@joslynrosbrook.com</h5>
      <div class="social-icons">
        <a href="http//twitter.com/JoslynRosbrook"></a>
        <a href="http//github.com/meowmaste"></a>
        <a href="http//linkedin.com/in/JoslynRosbrook"></a>
      </div>
  </div>
</section>
<section>
  <ul>
    <li>
      <a href="">
        <p>PINDD</p>
      </a>
    </li>
    <li>
      <a href="">
        <p>Solar System</p>
      </a>
    </li>
    <li>
      <a href="">
        <p>Ploppy Cat</p>
      </a>
    </li>
    <li>
      <a href="">
        <p>Sync Cats</p>
      </a>
    </li>
  </ul>
</section>
