<div class="project">
  <header class="project-header">
    <h1>Ploppy Cat</h1>
      <h3>Navigate your Nyan cat through space!</h3>
  </header>
  <section class="project-details">
    <p>Original code found <a href="http://www.uralozden.com/flappy/">here</a>.</p>
      <div id="screen" style="overflow: hidden;width:800px;margin:0 auto;">
      </div>
  </section>
</div>
