<section id="solar_system-wrap">
  <h1>Solar System</h1>
    <h3>A virtual tour of the solar system.</h3>
      <p>Original code found <a href="http://www.uralozden.com/flappy/">here</a>.</p>
      <div id="screen" style="overflow: hidden;width:800px;margin:0 auto;">
      </div>
</section>
