<div class="project">
  <header class="project-header">
    <h1>Solar System</h1>
      <h3>A virtual tour of the solar system.</h3>
  </header>
  <section class="project-details">
    <div class="img-container", style="background-color:#EBFF00;">
      <%= image_tag("solarsystem.png", class: "main-photo", alt: "Solar System")%>
      <%= image_tag("solar-system-mobile.png", class: "mobile-photo", alt: "Phone Layout")%>
    </div>
    <div class="text-block">
      <p>After learning HTML5 and CSS3 and completing my Intro to JavaScript class, I was inspired to combine these skills into a <a href="solarsystem.joslynrosbrook.com">virutal tour of the solar system.</a></p>
      <p>This site represents a weekend's worth of work and features a fact about each main components of the solar system. As you hover over new parts of the site, a planet will jump from the side to the forefront, near its fact. </p>
    </div>
    <div class="img-container", style="background-color:#42B85E;">
      <%= image_tag("solarsystem-full.png", class: "full-photo", alt: "Group Layout")%>
    </div>
  </section>
</div>
