<div class="project">
  <header class="project-header">
    <h1>Solar System</h1>
      <h3>A virtual tour of the solar system.</h3>
  </header>
  <section class="project-details">
    <div class="img-container", style="background-color:#D79BEE;">
      <%= image_tag("pindd.png", class: "main-photo", alt: "Post-It Note Driven Development")%>
      <%= image_tag("pindd-phone.png", class: "mobile-photo", alt: "Phone Layout")%>
    </div>
    <div class="text-block">
    </div>
    <div class="img-container", style="background-color:#5FA2EB;">
      <%= image_tag("pindd-group.png", class: "full-photo", alt: "Group Layout")%>
    </div>
  </section>
</div>
