<div class="project">
  <header class="project-header">
    <h1>Sync Cats</h1>
      <h3>An app built to demonstrate HTTP streaming with the Sync Gem</h3>
  </header>
  <section class="project-details">
    <div class="text-block">
      <p>Sync Cats was an app built to demo HTTP streaming in class on a presentation about the <a href="https://github.com/chrismccord/sync">Sync Gem.</a></p>
      <p>At the end of my talk, I had my fellow students go to the Heroku app where each instance would create a Nyan cat. Each student could control their cat with the arrow keys and see in real-time the other student's cats roaming around space.</p>
      <p>For this app, I used the Sync Gem, Ruby on Rails, and JavaScript.</p>
      <p></p>
    </div>
    <div class="img-container", style="background-color:#C583D1;">
      <%= image_tag("sync-cats.png", class: "full-photo", alt: "Sync Cats")%>
    </div>
  </section>
</div>
