#about-wrap {
  background: url(image_path('universeback.jpg')) no-repeat center center fixed;
  background-size: cover;
  color: #3D1066;
  font-family: 'Spinnaker', cursive;

  img {
    display: block;
    margin: 0 auto;
    width: 25%;
    border-radius: 35%;
  }

  h1 {
    font-size: 2em;
    line-height: 1em;
    margin: 0 0 15px 0;
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.3em;
    margin: 0;
  }

  h5 {
    font-size: 1.5em;
    line-height: 1em;
    padding-bottom: 15px;
    margin: 0;

    a {
      color: black;
      text-shadow: 2px 2px grey;
    }
  }

  p {
    margin: 2.5% 5%;
    font-size: 1.25em;
  }

  h1, h3, h5 {
    text-align: center;
  }

  .social-icons {
    text-align: center;

    a {
      padding: 10px;
    }
  }
}
