#portfolio-wrap {
  width: 100%;
  clear: both;
  margin: 0 auto;
  padding: 0;
  font-family: 'Spinnaker', sans-serif;
  font-weight: bold;
  background-color: #F5FAFF;
  color: #3D1066;

  a {
    color: #000000;
    font-family: 'Candal';
    margin: 1%;
    text-decoration: underline;
  }
    a:hover {
    color: #5FB9C5;
  }

  h2 {
    margin-bottom: 25px;
  }

  h1, h2 {
    text-align: center;
    line-height: 0.8em;
    padding-top: 25px;

    a {
      text-decoration: underline;
    }
  }
}

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    width: auto;
    display: block;
  }
}

