.project {
  font-family: 'Spinnaker', sans-serif;
  background-color: #F5FAFF;
  color: #3D1066;
  position: relative;
  z-index: 1;

  .project-header {
    float: none;
  }

  h1, h3 {
    text-align: center;
    margin: 0 2.5%;
  }

  p {
    margin: 2.5%;
  }

  a {
    color: #000;
    text-decoration: underline;
  }
}

.img-container {
  display: block;
  width: 95%;
  margin: 0 auto;
  padding: 25px 0;

  .main-photo {
    display: inline-block;
    margin: 0 2.5%;
    width: 70%;
  }

  .mobile-photo {
    display: inline-block;
    float: right;
    margin-right: 2.5%;
    width: 20%;
  }

  .full-photo {
    display: inline-block;
    margin: 2.5%;
    width: 95%;
  }
}
