@media screen and (min-width: 480px) {
  .primary {
    width: 47.5%;
    float: left;
  }

  .secondary {
    width: 47.5%;
    float: right;
    padding-top: 57px;

    p {
      padding-bottom: 57px;
    }
  }

  #gallery li {
    width: auto;
    display: block;
  }

  #gallery li {
    display: inline-block;
    width: 45.25%;
    margin: 2%;
  }
}
